<section class="team">
    <div class="team__content">
        <figure class="team__image--container">
            <img class="team__content--image" src="../assets/images/Background_1.svg"/>
        </figure>
        <article class="team__content--information">
            <h5 class="team__information--name">Gregory Francis</h5>
            <h6 class="team__information--job">CHIEF ENGINEER</h6>
            <article class="team__information--description">
                <p>I’ve started to work in company at 2009. Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the flashy array of photo printers which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age.</p>
            </article>
        </article>
        <ul class="team__content--dots">
            <li class="team__dots--item dotted"></li>
            <li class="team__dots--item"></li>
            <li class="team__dots--item"></li>
            <li class="team__dots--item"></li>
            <li class="team__dots--item"></li>
        </ul>
    </div>
</section>