<section class="portfolio">
    <include
        src="./components/common/title.html"
        locals='{
        "title": "Portfolio"
        }'></include>
    <ul class="portfolio__slideshow portfolio_big_device">
        <li class="portfolio__slideshow-row">
            <figure class="slideshow-row__item">
                <img src="../assets/images/project-card.svg"/>
            </figure>
            <figure class="slideshow-row__item">
                <img src="../assets/images/project-card (1).svg"/>
                <article class="description">
                    <h2 class="description-title">Blue Mountains</h2>
                    <h4 class="description-time">17 Apr 2016</h4>
                    <div class="description-line"></div>
                    <p class="description-text">Planning a vacation to
                        Europe? No doubt you have certain expectations about
                        your upcoming journey.</p>
                    <ul class="interact">
                        <li class="interact-item">
                            <figure class="interact-icon">
                                <img src="../assets/icons/Views.svg"/>
                            </figure>
                            <article class="interact-number">
                                <p>9292</p>
                                <p class="interact-sub-number">4</p>
                            </article>
                        </li>
                        <li class="interact-item">
                            <figure class="interact-icon">
                                <img src="../assets/icons/Views.svg"/>
                            </figure>
                            <article class="interact-number">
                                <p>9292</p>
                            </article>
                        </li>

                        <li class="interact-item">
                            <figure class="interact-icon">
                                <img src="../assets/icons/Views.svg"/>
                            </figure>
                            <article class="interact-number">
                                <p>9292</p>
                            </article>
                        </li>

                    </ul>
                </article>
            </figure>
        </li>
        <li class="portfolio__slideshow-row reverse">
            <figure class="slideshow-row__item">
                <img src="../assets/images/project-card (2).svg"/>
            </figure>
            <figure class="slideshow-row__item">
                <img src="../assets/images/project-card (3).svg"/>
            </figure>
        </li>
        <li class="portfolio__slideshow-row slideshow-linear">
            <figure class="slideshow-row__item">
                <img src="../assets/images/project-card copy.svg"/>
            </figure>
            <figure class="slideshow-row__item">
                <img src="../assets/images/project-card copy (1).svg"/>
                <article class="description">
                    <h2 class="description-title">Scenery Photos</h2>
                    <h4 class="description-sub-title">BY EVGENY METILAN</h4>
                    <div class="description-line"></div>
                    <p class="description-text">Wild
                        Nature</p>
                </article>
            </figure>
            <figure class="slideshow-row__item">
                <img src="../assets/images/project-card copy (2).svg"/>
            </figure>
        </li>
    </ul>

    <ul class="portfolio_small_device portfolio__slideshow">
        <li class="portfolio__slideshow-row">
            <figure class="slideshow-row__item">
                <img src="../assets/images/project-card.svg"/>
            </figure>
            <figure class="slideshow-row__item">
                <img src="../assets/images/project-card (3).svg"/>
            </figure>
        </li>
        <li class="portfolio__slideshow-row">
            <figure class="slideshow-row__item">
                <img src="../assets/images/project-card (1).svg"/>
                <article class="description">
                    <div class="description-header">
                        <h2 class="description-title">Blue Mountains</h2>
                        <figure class="interact-icon">
                            <img src="../assets/icons/Views.svg"/>
                        </figure>
                    </div>
                    <h4 class="description-time">17 Apr 2016</h4>
                    <div class="description-line"></div>
                    <p class="description-text">Planning a vacation to
                        Europe? No doubt you have certain expectations about
                        your upcoming journey.</p>
                </article>
            </figure>
        </li>

        <li class="portfolio__slideshow-row">
            <figure class="slideshow-row__item">
                <img src="../assets/images/project-card copy (2).svg"/>
            </figure>
            <figure class="slideshow-row__item">
                <img src="../assets/images/project-card copy.svg"/>
            </figure>
        </li>
        <li class="portfolio__slideshow-row reverse">
            <figure class="slideshow-row__item">
                <img src="../assets/images/project-card (2).svg"/>
            </figure>
        </li>
        <li class="portfolio__slideshow-row slideshow-linear">
            <figure class="slideshow-row__item">
                <img src="../assets/icons/rectangle.svg"/>
                <article class="description">
                    <h2 class="description-title">Scenery Photos</h2>
                    <h4 class="description-sub-title">BY EVGENY METILAN</h4>
                    <div class="description-line"></div>
                    <p class="description-text">Wild
                        Nature</p>
                </article>
            </figure>
        </li>
    </ul>
    <section class="pagination">
        <button class="btn__pagination btn__pagination--back">
            <svg width="11" height="18" viewBox="0 0 11 18" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M10 1L2 9L10 17" stroke="#7D7D7D" stroke-width="2"
                    stroke-linecap="round"/>
                </svg>
            </button>
            <ul class="pagination__list">
                <li class="pagination__list--item">
                    <p>1</p>
                </li>
                <li class="pagination__list--item">
                    <p>2</p>
                </li>
                <li class="pagination__list--item pagination-selected">
                    <p>3</p>
                </li>
                <li class="pagination__list--item">
                    <p>4</p>
                </li>
                <li class="pagination__list--item pagination__last-item">
                    <p>5</p>
                </li>
            </ul>
            <button class="btn__pagination btn__pagination--next">
                <svg width="11" height="18" viewBox="0 0 11 18" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L9 9L1 17" stroke="#7D7D7D"
                        stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </button>

            </section>

        </section>