<header id="header">
    <img id="header__bgr" src="../assets/images/Background.svg">
    <div class="container">
        <include src="./components/header/navbar/navbar.html"></include>
        <span class="header-content">
            <h1 class="header-title">See The Unmatched Beauty Of The Great Lakes</h1>
            <iframe class="header-video" src="https://www.youtube.com/embed/1oahTaVIQvk" title="Floating City 🍃 Chill Lofi Beats" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
        </span>
    </div>
</header>