<section class="footer">
    <div class="footer__purpose">
        <h1 class="footer__purpose-title">Hofmann</h1>
        <p class="footer__purpose-content">Hoffman UI Kit was made to help you
            quickly create beautiful layouts of responsive websites.</p>
        <p class="footer__license d-none">© 2016 Created by Goldenfox</p>
        <form class="footer__form">
            <label class="footer__label" for="email_subcribe">SUBSCRIBE TO OUR
                NEWS</label>
            <div class="input__subcribe">
                <input type="email" id="email_subcribe" placeholder="Your email"/>
                <button class="btn__subcribe">
                    <svg width="8" height="16" viewBox="0 0 11 18" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L9 9L1 17" stroke="#7D7D7D"
                            stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
        <div class="footer__information">
            <ul class="footer__categories">
                <li class="footer__category">
                    <article class="footer__category--item">
                        <a href="javascript:void(0)">
                            About Us
                        </a>
                    </article>
                    <article class="footer__category--item">
                        <a href="javascript:void(0)">
                            Explore
                        </a>
                    </article>
                    <article class="footer__category--item">
                        <a href="javascript:void(0)">
                            Contact
                        </a>
                    </article>
                </li>
                <li class="footer__category">
                    <article class="footer__category--item">
                        <a href="javascript:void(0)">
                            Testimonials
                        </a>
                    </article>
                    <article class="footer__category--item">
                        <a href="javascript:void(0)">
                            Blog
                        </a>
                    </article>
                    <article class="footer__category--item">
                        <a href="javascript:void(0)">
                            News
                        </a>
                    </article>
                </li>
                <li class="footer__category">
                    <article class="footer__category--item">
                        <a href="javascript:void(0)">
                            Documentation
                        </a>
                    </article>
                    <article class="footer__category--item">
                        <a href="javascript:void(0)">
                            Help
                        </a>
                    </article>
                    <article class="footer__category--item">
                        <a href="javascript:void(0)">
                            Privacy
                        </a>
                    </article>
                </li>
            </ul>
            <div class="footer__social-media">
                <label class="footer__label">Follow us</label>
                <ul class="footer__list-media">
                    <li class="footer__media-item">
                        <a class="footer__media-link">
                            <svg width="25" height="25" viewBox="0 0 25 25"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M0.297333 12.3141C0.297333 17.3979 3.4602
                                    21.7402 7.92457 23.4882C7.81936 22.5392
                                    7.72445 21.0824 7.96577 20.0465C8.18428
                                    19.11 9.3732 14.0813 9.3732 14.0813C9.3732
                                    14.0813 9.01417 13.3625 9.01417
                                    12.3001C9.01417 10.6315 9.98091 9.38591
                                    11.1853 9.38591C12.2094 9.38591 12.7038
                                    10.154 12.7038 11.0759C12.7038 12.1059
                                    12.0483 13.645 11.7099 15.0716C11.4273
                                    16.2656 12.3087 17.2397 13.4866
                                    17.2397C15.6195 17.2397 17.2594 14.9906
                                    17.2594 11.7446C17.2594 8.87164 15.195
                                    6.86238 12.2469 6.86238C8.83245 6.86238
                                    6.82834 9.42343 6.82834 12.0706C6.82834
                                    13.1013 7.22563 14.2078 7.72151
                                    14.8089C7.81936 14.9274 7.83407 15.0318
                                    7.80464 15.1532C7.71341 15.5321 7.51109
                                    16.3473 7.47136 16.5136C7.41913 16.7336
                                    7.297 16.7799 7.06966 16.6747C5.57099
                                    15.9765 4.63442 13.7855 4.63442
                                    12.0257C4.63442 8.24039 7.38455 4.7641
                                    12.5633 4.7641C16.7253 4.7641 19.961 7.73053
                                    19.961 11.6946C19.961 15.8301 17.3528
                                    19.1585 13.7338 19.1585C12.5177 19.1585
                                    11.3751 18.5265 10.9837 17.7805C10.9837
                                    17.7805 10.3819 20.0715 10.2362
                                    20.6329C9.96472 21.6754 9.23342 22.9821
                                    8.74416 23.7788C9.86687 24.1261 11.0602
                                    24.3137 12.2977 24.3137C18.9244 24.3137
                                    24.2973 18.9415 24.2973 12.3141C24.2973
                                    5.6867 18.9244 0.314453 12.2977
                                    0.314453C5.67031 0.314453 0.297333 5.6867
                                    0.297333 12.3141Z" fill="#EBCB80"/>
                                </svg>

                            </a>
                        </li>
                        <li class="footer__media-item">
                            <a class="footer__media-link">
                                <svg width="25" height="24" viewBox="0 0 25 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <mask id="mask0_0_340"
                                        style="mask-type:luminance"
                                        maskUnits="userSpaceOnUse" x="0" y="0"
                                        width="25" height="24">
                                        <path fill-rule="evenodd"
                                            clip-rule="evenodd" d="M0.0459595
                                            23.96H24.7385V0H0.0459595V23.96Z"
                                            fill="white"/>
                                        </mask>
                                        <g mask="url(#mask0_0_340)">
                                            <path fill-rule="evenodd"
                                                clip-rule="evenodd" d="M21.088
                                                20.4507H17.4266V14.8807C17.4266
                                                13.5527 17.4026 11.844 15.5231
                                                11.844C13.6176 11.844 13.3268
                                                13.2914 13.3268
                                                14.786V20.4507H9.66878V8.99738H13.1793V10.5634H13.2294C13.7178
                                                9.66271 14.9133 8.71338 16.6954
                                                8.71338C20.4028 8.71338 21.088
                                                11.0847 21.088
                                                14.1694V20.4507ZM5.53882
                                                7.43262C4.36247 7.43262 3.41452
                                                6.50796 3.41452 5.36796C3.41452
                                                4.22862 4.36247 3.30396 5.53882
                                                3.30396C6.71038 3.30396 7.66175
                                                4.22862 7.66175 5.36796C7.66175
                                                6.50796 6.71038 7.43262 5.53882
                                                7.43262ZM3.70535
                                                20.4506H7.37092V8.99731H3.70535V20.4506ZM22.9119
                                                0H1.86777C0.862893 0 0.0459595
                                                0.774667 0.0459595
                                                1.73067V22.268C0.0459595 23.224
                                                0.862893 24 1.86777
                                                24H22.9119C23.9195 24 24.7385
                                                23.224 24.7385
                                                22.268V1.73067C24.7385 0.774667
                                                23.9195 0 22.9119 0Z"
                                                fill="#EBCB80"/>
                                            </g>
                                        </svg>


                                    </a>
                                </li>
                                <li class="footer__media-item">
                                    <a class="footer__media-link">
                                        <svg width="36" height="23" viewBox="0 0
                                            36 23" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                clip-rule="evenodd" d="M11.2203
                                                9.80571V13.728H17.5837C17.3273
                                                15.4113 15.6603 18.6635 11.2203
                                                18.6635C7.38934 18.6635 4.2637
                                                15.4277 4.2637 11.44C4.2637
                                                7.45234 7.38934 4.21646 11.2203
                                                4.21646C13.4002 4.21646 14.8588
                                                5.16434 15.6923 5.98149L18.7378
                                                2.99074C16.7823 1.12766 14.2497
                                                0 11.2203 0C5.01706 0 0 5.11531
                                                0 11.44C0 17.7647 5.01706 22.88
                                                11.2203 22.88C17.6959 22.88
                                                21.9917 18.2386 21.9917
                                                11.7015C21.9917 10.9497 21.9116
                                                10.3777 21.8154
                                                9.80571H11.2203Z"
                                                fill="#EBCB80"/>
                                                <path fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M35.2637
                                                    9.80568H32.0579V6.53711H28.8521V9.80568H25.6463V13.0743H28.8521V16.3428H32.0579V13.0743H35.2637"
                                                    fill="#EBCB80"/>
                                                </svg>


                                            </a>
                                        </li>
                                        <li class="footer__media-item">
                                            <a class="footer__media-link">
                                                <svg width="30" height="24"
                                                    viewBox="0 0 30 24"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <mask id="mask0_0_324"
                                                        style="mask-type:luminance"
                                                        maskUnits="userSpaceOnUse"
                                                        x="0" y="0" width="30"
                                                        height="24">
                                                        <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M0.00645828
                                                            23.9935H29.4231V0.0883789H0.00645828V23.9935Z"
                                                            fill="white"/>
                                                        </mask>
                                                        <g
                                                            mask="url(#mask0_0_324)">
                                                            <path
                                                                fill-rule="evenodd"
                                                                clip-rule="evenodd"
                                                                d="M29.4231
                                                                2.91898C28.3406
                                                                3.39909 27.1771
                                                                3.72357 25.9561
                                                                3.86951C27.2024
                                                                3.12239 28.1595
                                                                1.93939 28.6103
                                                                0.52985C27.4439
                                                                1.22154 26.152
                                                                1.72393 24.777
                                                                1.99471C23.6758
                                                                0.821509 22.107
                                                                0.0883789
                                                                20.3708
                                                                0.0883789C17.037
                                                                0.0883789
                                                                14.3341 2.79112
                                                                14.3341
                                                                6.12476C14.3341
                                                                6.59787 14.3876
                                                                7.0586 14.4905
                                                                7.5004C9.47354
                                                                7.24867 5.02558
                                                                4.84544 2.04829
                                                                1.19335C1.52868
                                                                2.0849 1.231
                                                                3.12185 1.231
                                                                4.22811C1.231
                                                                6.32235 2.29679
                                                                8.17003 3.91652
                                                                9.2525C2.92692
                                                                9.22119 1.9962
                                                                8.94965 1.18224
                                                                8.49753C1.18181
                                                                8.52271 1.18181
                                                                8.548 1.18181
                                                                8.5734C1.18181
                                                                11.4982 3.2626
                                                                13.938 6.02411
                                                                14.4925C5.51752
                                                                14.6304 4.98425
                                                                14.7042 4.43365
                                                                14.7042C4.0447
                                                                14.7042 3.66651
                                                                14.6664 3.29801
                                                                14.5959C4.06612
                                                                16.9942 6.29543
                                                                18.7394 8.93693
                                                                18.7881C6.871
                                                                20.4071 4.26813
                                                                21.3722 1.44
                                                                21.3722C0.952789
                                                                21.3722 0.472251
                                                                21.3437 0
                                                                21.2879C2.67143
                                                                23.0006 5.84448
                                                                23.9999 9.25345
                                                                23.9999C20.3567
                                                                23.9999 26.4284
                                                                14.8017 26.4284
                                                                6.82474C26.4284
                                                                6.563 26.4226
                                                                6.30266 26.411
                                                                6.04382C27.5903
                                                                5.19274 28.6138
                                                                4.12953 29.4231
                                                                2.91898Z"
                                                                fill="#EBCB80"/>
                                                            </g>
                                                        </svg>


                                                    </a>
                                                </li>
                                                <li class="footer__media-item">
                                                    <a
                                                        class="footer__media-link">
                                                        <svg width="24"
                                                            height="24"
                                                            viewBox="0 0 24 24"
                                                            fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <mask
                                                                id="mask0_0_327"
                                                                style="mask-type:luminance"
                                                                maskUnits="userSpaceOnUse"
                                                                x="0" y="0"
                                                                width="24"
                                                                height="24">
                                                                <path
                                                                    fill-rule="evenodd"
                                                                    clip-rule="evenodd"
                                                                    d="M9.53674e-06
                                                                    23.9905H23.9905V0H9.53674e-06V23.9905Z"
                                                                    fill="white"/>
                                                                </mask>
                                                                <g
                                                                    mask="url(#mask0_0_327)">
                                                                    <path
                                                                        fill-rule="evenodd"
                                                                        clip-rule="evenodd"
                                                                        d="M22.6664
                                                                        0H1.32405C0.592729
                                                                        0
                                                                        9.53674e-06
                                                                        0.592719
                                                                        9.53674e-06
                                                                        1.32404V22.6664C9.53674e-06
                                                                        23.3977
                                                                        0.592729
                                                                        23.9906
                                                                        1.32405
                                                                        23.9906H12.8141V14.7001H9.68765V11.0795H12.8141V8.40935C12.8141
                                                                        5.31074
                                                                        14.7066
                                                                        3.62346
                                                                        17.4708
                                                                        3.62346C18.795
                                                                        3.62346
                                                                        19.933
                                                                        3.72198
                                                                        20.2645
                                                                        3.76602V7.00431L18.3474
                                                                        7.00521C16.8441
                                                                        7.00521
                                                                        16.553
                                                                        7.71955
                                                                        16.553
                                                                        8.76782V11.0795H20.1383L19.6716
                                                                        14.7001H16.553V23.9906H22.6664C23.3977
                                                                        23.9906
                                                                        23.9905
                                                                        23.3977
                                                                        23.9905
                                                                        22.6664V1.32404C23.9905
                                                                        0.592719
                                                                        23.3977
                                                                        0
                                                                        22.6664
                                                                        0Z"
                                                                        fill="#EBCB80"/>
                                                                    </g>
                                                                </svg>


                                                            </a>
                                                        </li>
                                                        <li
                                                            class="footer__media-item">
                                                            <a
                                                                class="footer__media-link">
                                                                <svg width="24"
                                                                    height="24"
                                                                    viewBox="0 0
                                                                    24 24"
                                                                    fill="none"
                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                    <mask
                                                                        id="mask0_0_330"
                                                                        style="mask-type:luminance"
                                                                        maskUnits="userSpaceOnUse"
                                                                        x="0"
                                                                        y="0"
                                                                        width="24"
                                                                        height="24">
                                                                        <path
                                                                            fill-rule="evenodd"
                                                                            clip-rule="evenodd"
                                                                            d="M0
                                                                            23.995H24V0H0V23.995Z"
                                                                            fill="white"/>
                                                                        </mask>
                                                                        <g
                                                                            mask="url(#mask0_0_330)">
                                                                            <path
                                                                                fill-rule="evenodd"
                                                                                clip-rule="evenodd"
                                                                                d="M21.3333
                                                                                6.66675C21.3333
                                                                                7.03491
                                                                                21.0348
                                                                                7.33341
                                                                                20.6667
                                                                                7.33341H17.3333C16.9652
                                                                                7.33341
                                                                                16.6667
                                                                                7.03491
                                                                                16.6667
                                                                                6.66675V3.33341C16.6667
                                                                                2.96525
                                                                                16.9652
                                                                                2.66675
                                                                                17.3333
                                                                                2.66675H20.6667C21.0348
                                                                                2.66675
                                                                                21.3333
                                                                                2.96525
                                                                                21.3333
                                                                                3.33341V6.66675ZM21.3333
                                                                                20.6667C21.3333
                                                                                21.0348
                                                                                21.0348
                                                                                21.3333
                                                                                20.6667
                                                                                21.3333H3.33333C2.96516
                                                                                21.3333
                                                                                2.66666
                                                                                21.0348
                                                                                2.66666
                                                                                20.6667V10H4.94283C4.763
                                                                                10.6357
                                                                                4.66666
                                                                                11.3067
                                                                                4.66666
                                                                                12C4.66666
                                                                                16.0501
                                                                                7.94991
                                                                                19.3333
                                                                                12
                                                                                19.3333C16.0501
                                                                                19.3333
                                                                                19.3333
                                                                                16.0501
                                                                                19.3333
                                                                                12C19.3333
                                                                                11.3067
                                                                                19.237
                                                                                10.6357
                                                                                19.0572
                                                                                10H21.3333V20.6667ZM12
                                                                                7.33325C14.5773
                                                                                7.33325
                                                                                16.6667
                                                                                9.42258
                                                                                16.6667
                                                                                11.9999C16.6667
                                                                                14.5773
                                                                                14.5773
                                                                                16.6666
                                                                                12
                                                                                16.6666C9.42267
                                                                                16.6666
                                                                                7.33334
                                                                                14.5773
                                                                                7.33334
                                                                                11.9999C7.33334
                                                                                9.42258
                                                                                9.42267
                                                                                7.33325
                                                                                12
                                                                                7.33325ZM20.6667
                                                                                0H3.33333C1.49242
                                                                                0
                                                                                0
                                                                                1.49242
                                                                                0
                                                                                3.33333V20.6667C0
                                                                                22.5076
                                                                                1.49242
                                                                                24
                                                                                3.33333
                                                                                24H20.6667C22.5076
                                                                                24
                                                                                24
                                                                                22.5076
                                                                                24
                                                                                20.6667V3.33333C24
                                                                                1.49242
                                                                                22.5076
                                                                                0
                                                                                20.6667
                                                                                0Z"
                                                                                fill="#EBCB80"/>
                                                                            </g>
                                                                        </svg>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                    <p class="footer__license--mobile">© 2016 Created by Goldenfox</p>
                                                </section>